table {
	border-spacing: 0;
	border-collapse: collapse;
}

th,
td {
	border: 1px solid #000;
	border-collapse: collapse;
}

caption {
	border: 1px solid #000;
	border-bottom: none;
}

.th {
	color: red;
}
